<ion-header>
  <ion-toolbar color="primary">
    <ion-title >{{ loadRecipe.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row >
      <ion-col no-padding>
        <ion-img [src]="loadRecipe.imageUrl" ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 text-center>{{ loadRecipe.title }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item *ngFor="let ingredient of loadRecipe.ingredients">
          <ion-label>{{ ingredient }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
